<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array/>
	<key>developer</key>
	<string>Jackson Cavanaugh</string>
	<key>developerURL</key>
	<string>https://github.com/okay-type</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<integer>1</integer>
	<key>mainScript</key>
	<string>spaceCase.py</string>
	<key>name</key>
	<string>Space Case</string>
	<key>timeStamp</key>
	<real>1399138760.5904241</real>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>
